<!-- Featured Product Start-->
<section class="box">
  <div class="box-heading">Featured</div>
  <div class="box-content">
    <div class="box-product">
      <div class="flexslider featured_carousel">
        <ul class="slides">
          <li *ngFor="let produit of produits">
            <div class="slide-inner">
              <div class="image"><a href="product.html"><img
                src="assets/image/product/lotto-sports-shoes-white-210x210.jpg"
                alt="Lotto Sports Shoes"/></a></div>
              <div class="name"><a
                href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">
                {{produit.titre}}</a></div>
              <div class="price"> ${{produit.prix}}</div>
              <div class="quantity"> {{ produit.quantite }} </div>
              <div class="cart">
                <form (ngSubmit)="commander(f)" #f="ngForm">
                    <input type="hidden" name="produit_id" [(ngModel)]="produit.produit_id" ngModel  >
                    <input type="number" name="quantite" placeholder="0" ngModel required >
                    <input type="submit" value="Buy" class="button" />
                  </form>
              </div>
              <div class="clear"></div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Featured Product End-->
<!-- Product Tab Start-->
<section id="product-tab" class="product-tab">
  <ul id="tabs" class="tabs">
    <li><a href="#tab-latest">Latest</a></li>
    <li><a href="#tab-bestseller">Bestseller</a></li>
    <li><a href="#tab-special">Special</a></li>
  </ul>
  <div id="tab-latest" class="tab_content">
    <div class="box-product">
      <div class="flexslider latest_carousel_tab">
        <ul class="slides">
          <li *ngFor="let produit of produits">
            <div class="slide-inner">
              <div class="image"><a href="product.html"><img
                src="assets/image/product/samsung_syncmaster_941bw-210x210.jpg"
                alt="Samsung SyncMaster 941BW"/></a></div>
              <div class="name">{{produit.titre}}</div>
              <div class="price"> ${{produit.prix}}</div>
              <div class="cart">
                <input type="button" value="Add to Cart" class="button"/>
              </div>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="tab-bestseller" class="tab_content">
    <div class="box-product">
      <div class="flexslider bestseller_carousel_tab">
        <ul class="slides">
          <li *ngFor="let produit of produits">
            <div class="slide-inner">
              <div class="image"><a href="product.html"><img
                src="assets/image/product/apple_cinema_30-210x210.jpg"
                alt="Apple Cinema 30&quot;"/></a></div>
              <div class="name"><a href="product.html">{{produit.titre}}</a></div>
              <div class="price"><span class="price-old">${{produit.prix}}</span> </div>
              
              <div class="cart">
                <input type="button" value="Add to Cart" class="button"/>
              </div>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="tab-special" class="tab_content">
    <div class="box-product">
      <div class="flexslider special_carousel_tab">
        <ul class="slides">
          <li *ngFor="let produit of produits">
            <div class="slide-inner">
              <div class="image"><a href="product.html"><img
                src="assets/image/product/Jeep-Casual-Shoes-210x210.jpg" alt="Jeep-Casual-Shoes"/></a>
              </div>
              <div class="name"><a href="product.html">{{produit.titre}}</a></div>
              <div class="price">${{produit.prix}}</div>
              <div class="cart">
                <input type="button" value="Add to Cart" class="button"/>
              </div>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Product Tab End-->
<!-- Carousel Start-->
<section id="carousel">
  <ul class="jcarousel-skin-opencart">
    <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"/></a></li>
    <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"/></a></li>
    <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"/></a></li>
    <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"/></a></li>
    <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"/></a></li>
    <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"/></a></li>
  </ul>
</section>
<!-- Carousel End-->

<div class="clear"></div>
